@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed&display=swap');

.section4 {
    background-image: url(./assts/section4bg.jpeg);
    background-size: cover;
    background-position: center center;
    position: relative;
    height: 100vh;
    /* Needed for positioning the overlay */
}

.img-top-sec4 img {
    display: inline-block;
    width: 100%;
}

.img-bottom-sec4{
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    text-align: center;
}

.img-bottom-sec4 img{
    display: inline-block;
    width: 100%;
}

.ques{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

.ques-block{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    background-color: #CCCCCCB2;
    height: 126px;
    border-radius: 30px;
}

.ques-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.ques-green-cir{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #00CBA9;
}

.arrow-faq{
    height: 35px;
    width: 35px;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ques-content p{
    font-size: 20px;
    font-family: 'Encode Sans Condensed', sans-serif;
}

@media (max-width: 786px){
    .ques-block{
        height: 90px;
    }
}