.section4 {
    background-image: url(./assts/section4bg.jpeg);
    background-size: cover;
    background-position: center center;
    position: relative;
    height: 120vh;
    /* Needed for positioning the overlay */
}

.img-top-sec4 img {
    display: inline-block;
    width: 100%;
}

.img-bottom-sec4{
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    text-align: center;
}

.img-bottom-sec4 img{
    display: inline-block;
    width: 100%;
}
